<!DOCTYPE html>
<html>
  <head>
    <title>Fintech Horizons Media 6.0v</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
    <% if user_signed_in? %>
      <small>Logged as: <%= current_user.email %></small>
        <% if current_user.provider != nil %>
          <small> from: <%= current_user.provider %></small>
        <% end %>
    <% else %>
      <small>You are not logged !</small>
    <% end %>
    <%= yield %>
  </body>
</html>
